li {
  font-size: 20px;
  font-family: Arial, sans-serif;
  color: #000000;
}

.p_tags {
  font-size: 18px;
  font-family: Arial, sans-serif;
   color: #000000;
}

.bullets{
 font-size: 18px;
  font-family: Arial, sans-serif;
   color: #000033;
}

.bullets2{
 font-size: 20px;
  font-family: Arial, sans-serif;
   color: #000033;
}
